*{
    margin: 0;
    padding: auto;
}

body{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30%;
    margin-top: 10%;
}
table{
    background-color: rgb(240, 236, 231);
    border: 1px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    height: 300px;
    width: 40px;
    padding: 8px;
}

input{
width: 270px;
height: 40px;
padding-left: 0px;


}


.label{
    background-color:rgb(242, 243, 243);
    font-weight: bold;
   
   
}
.button [type="button"]{
    display: flexbox;
    width: 40px;
    background-color: rgb(52, 52, 53);
    margin: 10px;
    margin-left: 20px;
    color: blanchedalmond;
    font-weight: bold;
}


.result{
    margin-left: 40px;
}